# vi: set ft=caddyfile :
0.0.0.0:8080 {
    root /var/www/html

    fastcgi / 127.0.0.1:9000 php

    # config shouldn't be accessible from outside
    status 403 {
        /html2pdf
        /history
        /holidays
        /smarty
        /sql
        /templates
        /includes
        /jpgraph
        /phpmailer
        /config.inc
        /database.inc
    }
}
