<?php
// vi: set ft=php :

// Database Parameters
$cfgHostname = 'localhost';
$cfgDatabase = 'soplanning';
$cfgUsername = 'root';
$cfgPassword = 'root';
$cfgSqlType = 'mysql';
$cfgPrefix = 'planning_';
?>
